/*
    Authors: 
    Hanya R.
    Maira B.
 */
 
/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d86c6c;
}

/* NAVBAR */
nav {
    background-color: #cf302d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(1px, 3vw, 15px) clamp(2px, 3vw, 50px); 
    height: 60px;
}

.logo {
    height: clamp(2px, 30vw, 80px);  
    width: clamp(2px, 30vw, 90px);   
    margin-right: 5px; 
}

nav .left a {
    display: flex; 
    align-items: center;
    color: white;
    font-size: clamp(1px, 4vw, 30px); 
    font-weight: 600;
    text-decoration: none;
}

nav .right {
    display: flex;
    flex-direction: row; 
    align-items: center; 
}


nav .main-links {
    display: flex; 
    gap: clamp(8px, 2vw, 20px); 
}

nav .right a {
    color: white;
    font-size: clamp(9px, 4vw, 25px); 
    text-decoration: none;
    gap: 10px;
}

nav i {
    font-size: clamp(5px, 3vw, 20px); 
}

/* Meet the team Section */
.meet-the-team {
    text-align: center;
    text-shadow: 20px 10px 10px rgba(186, 13, 13, 0.5);
    color: #ffffff;
    transform: translateY(-45px);
    padding-top: clamp(1px, 5vw, 40px); 
    padding-bottom: 0;
    width: 100%;
}

.meet-the-team h2 {
    font-size: clamp(1px, 5vw, 50px); 
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%; 
    overflow: hidden;
}

.team-container {
    display: flex;
    gap: clamp(10px, 1.5vw, 20px); 
    justify-content: center;
    width: 100%;
    max-width: 80vw; 
    margin: 0 auto;
    flex-wrap: nowrap; 
}

.team-card {
    background-color: #c0392b;
    color: white;
    padding: clamp(55px, 3vw, 100px); 
    width: clamp(240px, 3vw, 350px); 
    text-align: center;
    position: relative;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.team-card a {
    text-decoration: none;
    color: white;
}

.team-card img {
    width: clamp(250px, 2vw, 400px);
    height: clamp(300px, 2vw, 500px);
    object-fit: cover;
    border-radius: 10px;
}

.team-card:hover {
    transform: scale(1.005); /* Expanding effect */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Slight shadow on hover */
}

.role {
    background: white;
    color: #c0392b;
    font-weight: bold;
    padding: clamp(1px, 2vw, 8px) clamp(1px, 2vw, 15px);
    border-radius: 15px;
    display: inline-block;
    margin-top: clamp(1px, 2vw, 10px);
    font-size: clamp(1px, 2vw, 16px); 
}

.prev-btn, .next-btn {
    position: fixed;
    top: 65%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.402);
    border: 2px solid rgb(206, 55, 55);
    border-radius: 50%;
    font-size: clamp(1px, 3vw, 15px); 
    transition: transform 0.3s ease;
}

.prev-btn {
    left: 5vw; 
    padding: clamp(1px, 3vw, 15px);
}

.next-btn {
    right: 5vw; 
    padding: clamp(1px, 3vw, 15px);
}

.prev-btn:hover, .next-btn:hover {
    transform: translateY(-50%) scale(1.1);
}

/* FOOTER */
footer {
    background-color: #cf302d; 
    padding: 27px; 
    text-align: left; 
}

footer .social-links {
    display: flex; 
    justify-content: left; 
    gap: clamp(1px, 3vw, 30px);  
}

footer .social-links a {
    font-size: clamp(1px, 4vw, 20px); 
    color: white; 
}

footer .connect-text {
    font-size: clamp(1px, 4vw, 20px); 
    color: white; 
}

footer .social-links-container {
    display: flex; 
    justify-content: left;
    align-items: center; 
    gap: clamp(1px, 3vw, 20px); 
}
