/*Meet the team */
.meet-the-team {
    text-align: center;
    padding: 10px; 
    color: #ffffff;
    text-align: center; 
}

.meet-the-team h2 {
    font-size: 45px; 
    margin-bottom: 60x; 
}

.team-container {
    display: flex; 
    justify-content: center; 
    gap: 40px; 
    flex-wrap: wrap; 
}

/* Individual Team Card */
.team-card {
    background-color: #c0392b;
    color: white;
    padding: 35px;
    width: 250px;
    text-align: center;
    position: relative;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Image Styling */
.team-card img {
    width: 250px;
    height: 350px; 
    object-fit: cover; 
    border-radius: 10px;
}

/* Role Badge */
.role {
    background: white;
    color: #c0392b;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
}
